{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{# Get menu items #}
{% set items = simplify_menu('footer') %}

{# Iterate menu tree #}
<nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
  {% for menu_item in items.menu_tree %}
    <div class="px-5 py-2">
      <a href="{{ menu_item.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ menu_item.text }}</a>
    </div>
  {% endfor %}
</nav>
