<div>
  {% block page_header %}
    {% include "@organisms/site/site-header/site-header.twig" %}
  {% endblock %}
  {% block page_system %}
  {% endblock %}
  <div>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if sidebar %}
      <aside class="main-sidebar" role="complementary">
        {% block page_sidebar %}{% endblock %}
      </aside>
    {% endif %}
    <main role="main">
      {% block page_content %}{% endblock %}
    </main>
  </div>
  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
